name: Build Custom-Crops

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # cho phép bấm chạy thủ công

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build plugin with Gradle
        run: ./gradlew :plugin:build

      - name: Upload built JAR
        uses: actions/upload-artifact@v4
        with:
          name: CustomCrops-jar
          path: plugin/build/libs/*.jar
